/Data
data_dictionary_trip_records_yellow.pdf
webscrapping.pdf
data_dictionary_trip_records_hvfhs.pdf
/ipynb
/main uber
/main yellow
/uber_datasets_fallos_reducidos
/uber_datasets_join
/uber_datasets_transformados
/uber_descarga_fallos
/uber_final_completo
